<%= form_for(post.comments.build(user_id: current_user.id), remote: true) do |f| %>
    <div class="field">
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :post_id %>
      <%= f.text_area :content, placeholder: "Comment..." %>
    </div>
    <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>
