<li id="<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="title"><%= post.title %></span>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.

    <% if current_user?(post.user) %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
      <%= link_to 'edit', edit_post_path(post) %>
    <% end %>
  </span>

      <span class="comments">
           <%= render 'posts/show_comment', post: post %>
      </span>
  <% if logged_in? %>

    <% if current_user.following?(@user) || current_user?(post.user) %>

      <span class="form_comments">
            <%= render 'posts/form_comment', post: post %>
      </span>
    <% end %>
  <% end %>

</li>
