<ul>
      <% if post.comments.any? %>
      <% post.comments.each do |comment| %>
        <li>
        <%= link_to gravatar_for(comment.user, size: 40), post.user %><span class = name><b><%= comment.user.name %></b> </span> <%= comment.content %></br>
        <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
        <% if current_user?(comment.user) %>
      <%= link_to "edit", edit_comment_path(comment) %>
      <%= link_to "delete", comment, method: :delete,
                                       data: { confirm: "You sure?" } %>
        </span>
        <% end %>
      <% end %>
        </li>
        <% end %>
      </ul>
